.title {
  text-align: center;
  font-size: 30px;
}

p {
  font-size: 20px;
}

.nav-item {
  justify-content: end;
}

a .navbar-brand {
  color: teal;
  font-size: small;
}

.main-container {
  background-color: white;
  height: 800px;
}

#signupButton {
  width: 60%;
  border-radius: 50%;
}

#signupButton:hover {
  background-color: teal;
  color: black;
}

#loginButton {
  width: 60%;
  border-radius: 50%;
}

#loginButton:hover {
  background-color: teal;
  color: black;
}

.signUpLink {
  text-align: center;
  font-size: medium;
}

.close {
  color: teal;
  background-color: white;
  border: none;
  font-size: 30px;
}

.name-label {
  margin-left: 50px;
}
.modal-body .md-form {
  margin-bottom: 0;
  padding-right: 0;
  padding-left: 0;
}

.modal-body #orangeForm-name,
.modal-body #orangeForm-email,
.modal-body #orangeForm-pass {
  margin-bottom: 0;
  padding-right: 80px;
}

.modal-body .md-form input {
  width: 80%;
  margin-left: 50px;
}

.carousel-indicators {
  bottom: 20px;
}

.carousel-inner {
  height: 200px;
  width: 100px;
  text-align: center;
}

.main-container {
  background-color: teal;
}
.main-container2 {
  background-color: white;
}

#websiteTitle {
  margin-left: 20px;
}

#img-ebay {
  align-items: center;
  padding: 0;
}

#carouselExampleDark {
  align-items: center;
  width: 500px;
}
