<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Estimate Price Tracker</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style/styles.css') }}" />
    <script defer src="{{ url_for('static', filename='index.js') }}"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
  </head>
  <body>
    <section class="main-container2">
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-4 fixed top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">EstiMateIt</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item dropdown">
                <a
                  class="nav-link active dropdown-toggle"
                  id="navbarDropdownMenuLink"
                  aria-current="page"
                  href="#"
                  aria-haspopup="true"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Categories</a
                >
                <ul
                  class="dropdown-menu"
                  aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Electronics</a></li>
                  <li><a class="dropdown-item" href="#">Watches</a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item" href="#">Clothing and Fashion</a>
                  </li>
                </ul>
              </li>
            </ul>
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a
                  class="navbar-brand dropdown-toggle"
                  id="navbarDropdownProfileMenuLink"
                  aria-current="page"
                  href="#"
                  aria-haspopup="true"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <img
                    src="{{ url_for('static', filename='assets/icons/user.jpg') }}"
                    alt="User-profile logo"
                    width="25"
                    height="25"
                    class="rounded-pill" />

                  User Profile
                </a>
                <ul
                  class="dropdown-menu"
                  aria-labelledby="navbarDropdownMenuLink">
                  <li>
                    <a class="dropdown-item" href="{{ url_for('user_profile')}}"
                      >View Profile</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="/logout" id="logoutBtn"
                      >Logout</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
      <h1 class="title">Estimate Price Tracker</h1>

      <!-- carousel of images -->
      <div
        id="carouselExampleDark"
        class="carousel carousel-dark slide mx-auto">
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"></button>
          <button
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img
              src="{{ url_for('static', filename='assets/images/ebay.png') }}"
              class="d-block w-50 text-center"
              height="150px"
              width="450px"
              alt="Ebay logo" />
          </div>

          <div class="carousel-item" data-bs-interval="2000">
            <img
              src="{{ url_for('static', filename='assets/images/amazon.png') }}"
              class="d-block w-50 text-center"
              height="150px"
              width="450px"
              alt="Amazon logo" />
          </div>

          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide="prev">
            <span
              class="carousel-control-prev-icon bg-dark"
              aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide="next">
            <span
              class="carousel-control-next-icon bg-dark"
              aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

      <h2 class="productsTitle"><u>Products</u></h2>

      <div class="card-group">
        <div
          class="card border border-info shadow-0 bg-light mb-3"
          id="firstCard"
          style="max-width: 18rem">
          <div class="card-header">Watches</div>
          <img
            src="{{ url_for('static', filename='assets/images/wristWatch.jpg') }}"
            height="200px"
            width="auto"
            class="card-img-top"
            alt="Watches Photo" />
          <div class="card-body">
            <h5 class="card-title">Wrist Watch</h5>
          </div>
        </div>

        <div
          class="card border border-info shadow-0 bg-light mb-3"
          id="firstCard"
          style="max-width: 18rem">
          <div class="card-header">Smartphone</div>
          <img
            src="{{ url_for('static', filename='assets/images/pixel7a.jpg') }}"
            height="200px"
            width="auto"
            class="card-img-top"
            alt="Google Pixel 7a Photo" />
          <div class="card-body">
            <h5 class="card-title">Google Pixel 7a</h5>
          </div>
        </div>

        <div
          class="card border border-info shadow-0 bg-light mb-3"
          id="secondCard"
          style="max-width: 18rem">
          <div class="card-header">Men's Football Cleat</div>
          <img
            src="{{ url_for('static', filename='assets/images/footballCleats.jpg') }}"
            height="200px"
            width="auto"
            class="card-img-top"
            alt="Watches Photo" />
          <div class="card-body">
            <h5 class="card-title">Sport shoes</h5>
          </div>
        </div>

        <div
          class="card border border-info shadow-0 bg-light mb-3"
          id="thirdCard"
          style="max-width: 18rem">
          <div class="card-header">Women's Shirt</div>
          <img
            src="{{ url_for('static', filename='assets/images/shirt.jpg') }}"
            height="200px"
            width="auto"
            class="card-img-top"
            alt="Watches Photo" />
          <div class="card-body">
            <h5 class="card-title">Shirts</h5>
          </div>
        </div>
      </div>

      <div class="card-group">
        <div
          class="card border border-info shadow-0 bg-light mb-3"
          id="firstCard"
          style="max-width: 18rem">
          <div class="card-header">Lenovo Thinkpad Laptop</div>
          <img
            src="{{ url_for('static', filename='assets/images/lenovoLaptop.jpg') }}"
            height="250px"
            width="auto"
            class="card-img-top"
            alt="Watches Photo" />
          <div class="card-body">
            <h5 class="card-title">Analog Watch</h5>
          </div>
        </div>

        <div
          class="card border border-info shadow-0 bg-light mb-3"
          id="firstCard"
          style="max-width: 18rem">
          <div class="card-header">Smartphone</div>
          <img
            src="{{ url_for('static', filename='assets/images/iPhone13.jpg') }}"
            height="250px"
            width="auto"
            class="card-img-top"
            alt="Google Pixel 7a Photo" />
          <div class="card-body">
            <h5 class="card-title">Google Pixel 7a</h5>
          </div>
        </div>

        <div
          class="card border border-info shadow-0 bg-light mb-3"
          id="secondCard"
          style="max-width: 18rem">
          <div class="card-header">Women's Sweater</div>
          <img
            src="{{ url_for('static', filename='assets/images/Sweater.jpg') }}"
            height="250px"
            width="auto"
            class="card-img-top"
            alt="Watches Photo" />
          <div class="card-body">
            <h5 class="card-title">Red Sweater</h5>
          </div>
        </div>

        <div
          class="card border border-info shadow-0 bg-light mb-3"
          id="thirdCard"
          style="max-width: 18rem">
          <div class="card-header">iWatch</div>
          <img
            src="{{ url_for('static', filename='assets/images/iWatch.jpg') }}"
            height="250px"
            width="auto"
            class="card-img-top"
            alt="Watches Photo" />
          <div class="card-body">
            <h5 class="card-title">Shirts</h5>
          </div>
        </div>
      </div>

      <br />
      <br />
      <!-- Footer -->
      <footer class="text-center text-lg-start text-white bg-dark">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: Links -->
          <section class="">
            <!--Grid row-->
            <div class="row">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">
                  Estimate It
                </h6>
                <div class="text-start">
                  <p>
                    Effortlessly manage project budgets with the Estimate Price
                    Tracker.
                  </p>
                </div>
              </div>
              <!-- Grid column -->

              <hr class="w-100 clearfix d-md-none" />

              <hr class="w-100 clearfix d-md-none" />

              <!-- Grid column -->
              <hr class="w-100 clearfix d-md-none" />

              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                <p><i class="fas fa-home mr-3"></i> Portland, OR 97201, US</p>
                <p><i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
                <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
                <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>

                <!-- Facebook -->
                <a
                  class="btn btn-primary btn-floating m-1"
                  style="background-color: #3b5998"
                  href="#!"
                  role="button"
                  ><i class="fab fa-facebook-f"></i
                ></a>

                <!-- Twitter -->
                <a
                  class="btn btn-primary btn-floating m-1"
                  style="background-color: #55acee"
                  href="#!"
                  role="button"
                  ><i class="fab fa-twitter"></i
                ></a>

                <!-- Google -->
                <a
                  class="btn btn-primary btn-floating m-1"
                  style="background-color: #dd4b39"
                  href="#!"
                  role="button"
                  ><i class="fab fa-google"></i
                ></a>

                <!-- Instagram -->
                <a
                  class="btn btn-primary btn-floating m-1"
                  style="background-color: #ac2bac"
                  href="#!"
                  role="button"
                  ><i class="fab fa-instagram"></i
                ></a>

                <!-- Linkedin -->
                <a
                  class="btn btn-primary btn-floating m-1"
                  style="background-color: #0082ca"
                  href="#!"
                  role="button"
                  ><i class="fab fa-linkedin-in"></i
                ></a>
                <!-- Github -->
                <a
                  class="btn btn-primary btn-floating m-1"
                  style="background-color: #333333"
                  href="#!"
                  role="button"
                  ><i class="fab fa-github"></i
                ></a>
              </div>
            </div>
            <!--Grid row-->
          </section>
          <!-- Section: Links -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div
          class="text-center p-3"
          style="background-color: rgba(0, 0, 0, 0.2)">
          © 2023 Copyright:
          <a class="text-white" href="https://mdbootstrap.com/"
            >MDBootstrap.com</a
          >
        </div>
        <!-- Copyright -->
      </footer>
    </section>
  </body>
</html>
