<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Watches</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style/styles.css') }}" />
    <script defer src="{{ url_for('static', filename='index.js') }}"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
  </head>
  <body>
    <section class="main-container2">
      <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">EstiMateIt</a>
          <button class="btn btn-outline-light" id="backButton">Back</button>
        </div>
      </nav>
      <h2 class="productsTitle mt-3"><u> Watches</u></h2>
      <hr />
      <div class="card-group">
        <div
          class="card border border-info shadow-0 bg-light mb-3"
          id="firstCard"
          style="max-width: 18rem">
          <div class="card-header">Watches</div>
          <img
            src="{{ url_for('static', filename='assets/images/wristWatch.jpg') }}"
            height="250px"
            width="auto"
            class="card-img-top"
            alt="Watches Photo" />
          <div class="card-body">
            <h5 class="card-title">Wrist Watch</h5>
            <button type="button" class="btn btn-warning" id="compareButton">
              Compare Prices
            </button>
          </div>
        </div>
        <div
          class="card border border-info shadow-0 bg-light mb-3"
          id="thirdCard"
          style="max-width: 18rem">
          <div class="card-header">iWatch</div>
          <img
            src="{{ url_for('static', filename='assets/images/iWatch.jpg') }}"
            height="250px"
            width="auto"
            class="card-img-top"
            alt="Watches Photo" />
          <div class="card-body">
            <h5 class="card-title">Apple</h5>
            <button type="button" class="btn btn-warning" id="compareButton">
              Compare Prices
            </button>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
